*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}
#bd5{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(4, 7, 17);
}
.container5{
    width: 80%;
    padding: 20px;
}
.container5 h2{
    width: 100%;
    color: rgb(0, 217, 255);
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.container5 .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.container5 .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: .5s;
}
.container5 .row100 .inputbox{
    width: 100%;
    height: 100%;
    position: relative;
    color: rgb(0, 217, 255) ;
}
.container5 .row100 .inputbox input,
.container5 .row100 .inputbox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    color:black;
    z-index: 1;
}
.container5 .row100 .inputbox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: .5s;
    pointer-events: none;
}
.container5 .row100 .inputbox input:focus + .text,
.container5 .row100 .inputbox input:valid + .text
{
    top: -35px;
    left: -10px;
}
.container5 .row100 .inputbox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(0, 217, 255);
    transition: .5s;
    border-radius: 2px;
    pointer-events: none;
}
.container5 .row100 .inputbox input:focus ~ .line,
.container5 .row100 .inputbox input:valid ~ .line{
    height: 1000%;
}
.container5 .row100 .inputbox.textarea{
    position: relative;
    height: 100px;
    width: 100%;
    padding: 10px 0;
}
.container5 .row100 .inputbox.textarea textarea{
    resize: none;
    height: 100%;
}
.container5 .row100 .inputbox textarea:focus + text,
.container5 .row100 .inputbox textarea:valid + text{
    top: -35px;
    left: -10px;
}
.container5 .row100 .inputbox input:focus ~ .line,
.container5 .row100 .inputbox input:valid ~ .line{
    height: 100%;
}
input[type="submit"]{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background-color: rgb(0, 217, 255) ;
    color: black;
    font-size: 18px;
    border-radius: 3px;
}
.bd6{
    background-color: #0C1622;
}

.div2bd5{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 120px;
    width: 100%;
    background-color: rgb(49, 190, 190);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    position:static ;

}
.div6{
   /* line-height: 0.8rem;*/
    color: white;
    font-size: 19px;
     text-align: center;
     line-height: 1.8rem;
     margin-top:30px;
}

